.card{
    display: inline-block;
    border-style: solid;
    size: auto;
    transition: transform 0.5s;
    margin: 2px;
    border-radius: 20px;
    border-width: 2px;
    border-color: black;
    background-color: whitesmoke;
    text-align: center;
}

.card:hover{
    transform: scale(1.05);
    z-index: -1;
}