body{
    background-color: orange;
}

.srchbar{
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.srchbar-container{
    background-color: rebeccapurple;
    padding: 5px 5px 5px 5px;
}

.parent{
    background-color: blanchedalmond;
}