body{
    padding-top: 60px;
    left: 0;
    right: 0;
    margin: 0;
    bottom:0;
}

.about-container{
    background-color: orange;
}

.about-paragraph{
    text-align: left;
    font-size: 1.75em;
    margin: 0 5em;
}