body{
    left: 0;
    right: 0;
    margin: 0;
    bottom:0;
    padding-top: 75px;
}

.about-container{
    background-color: orange;
}

.about-paragraph{
    text-align: left;
    font-size: 2.5vw;
    margin: 0 3em;
}