/* body{
    padding-top: 60px;
    left: 0;
    right: 0;
    margin: 0;
} */

.html-home{
    margin-top: 80px;
    padding: 10px 0;
    background: url('https://images.pexels.com/photos/8141380/pexels-photo-8141380.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-size: cover;
    background-position: center;
}

.srchbar{
    margin: 0 20%;
    /* width: 100%; */
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 25px;
}

.srchbar-container{
    display: grid;
    grid-template-columns: 1fr;
    padding: 5px 5px 5px 5px;
}

.carousel-container{
    padding: 0 20%;
}

.home-text{
    text-align: center;
    font-size: 2em;
    color: snow;
}

.home-paragraph{
    text-align: center;
    font-size: 2em;
    color: snow;
}

/* .cards-container{
    margin: 0 20%;
} */