.form-name {
    display: inline-block;
}

.html-reg{
    background: url('https://images.pexels.com/photos/4819658/pexels-photo-4819658.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    margin: 0px;
    padding: 0px;
}